@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Righteous&display=swap');

.App {
  text-align: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 12px;
  font-size: 1.1rem;
  border: 0
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  font-family: 'Righteous', cursive;
}

/* a {
  color: #FF5252;
} */